<div class="current-forecast">
  <div class="current-temperature">
    <div class="place">
      <p class="place-name mb-sm">Berlin, Germany</p>
      <p class="place-date">Tuesday, Aug 5, 2026</p>
    </div>
    <div class="temperature">
      <img
        class="temp-icon"
        src="../assets/images/icon-sunny.webp"
        alt="Sunny day image"
      />
      <span class="temperature-value">20</span>
      <span class="temperature-unit">°C</span>
    </div>
  </div>
  <div class="card temp-misc">
    <p class="temp-label">Feels Like</p>
    <strong class="temp-value">18</strong>
  </div>
  <div class="card temp-misc">
    <p class="temp-label">Humidity</p>
    <strong class="temp-value">46%</strong>
  </div>
  <div class="card temp-misc">
    <p class="temp-label">Wind</p>
    <strong class="temp-value">14 km/h</strong>
  </div>
  <div class="card temp-misc">
    <p class="temp-label">Precipitation</p>
    <strong class="temp-value">0 mm</strong>
  </div>
</div>
