<div class="daily-forecast">
  <h3 class="daily-forecast-title mb-sm">Daily Forecast</h3>
  <div class="weekdays">
    <div class="week-day card">
      <div class="week-day-title">Tue</div>
      <div class="week-day-weather">
        <img
          class="week-day-img"
          src="../assets/images/icon-rain.webp"
          alt="rain weather image"
        />
      </div>
      <div class="week-day-forecast">
        <p class="week-day-max-temp">20</p>
        <p class="week-day-min-temp">14</p>
      </div>
    </div>

    <div class="week-day card">
      <div class="week-day-title">Wed</div>
      <div class="week-day-weather">
        <img
          class="week-day-img"
          src="../assets/images/icon-sunny.webp"
          alt="sunny weather image"
        />
      </div>
      <div class="week-day-forecast">
        <p class="week-day-max-temp">21</p>
        <p class="week-day-min-temp">15</p>
      </div>
    </div>

    <div class="week-day card">
      <div class="week-day-title">Thu</div>
      <div class="week-day-weather">
        <img
          class="week-day-img"
          src="../assets/images/icon-storm.webp"
          alt="storm weather image"
        />
      </div>
      <div class="week-day-forecast">
        <p class="week-day-max-temp">20</p>
        <p class="week-day-min-temp">14</p>
      </div>
    </div>

    <div class="week-day card">
      <div class="week-day-title">Fri</div>
      <div class="week-day-weather">
        <img
          class="week-day-img"
          src="../assets/images/icon-snow.webp"
          alt="snow weather image"
        />
      </div>
      <div class="week-day-forecast">
        <p class="week-day-max-temp">20</p>
        <p class="week-day-min-temp">14</p>
      </div>
    </div>

    <div class="week-day card">
      <div class="week-day-title">Sat</div>
      <div class="week-day-weather">
        <img
          class="week-day-img"
          src="../assets/images/icon-partly-cloudy.webp"
          alt="rain weather image"
        />
      </div>
      <div class="week-day-forecast">
        <p class="week-day-max-temp">20</p>
        <p class="week-day-min-temp">14</p>
      </div>
    </div>

    <div class="week-day card">
      <div class="week-day-title">Sun</div>
      <div class="week-day-weather">
        <img
          class="week-day-img"
          src="../assets/images/icon-fog.webp"
          alt="rain weather image"
        />
      </div>
      <div class="week-day-forecast">
        <p class="week-day-max-temp">20</p>
        <p class="week-day-min-temp">14</p>
      </div>
    </div>

    <div class="week-day card">
      <div class="week-day-title">Mon</div>
      <div class="week-day-weather">
        <img
          class="week-day-img"
          src="../assets/images/icon-drizzle.webp"
          alt="rain weather image"
        />
      </div>
      <div class="week-day-forecast">
        <p class="week-day-max-temp">20</p>
        <p class="week-day-min-temp">14</p>
      </div>
    </div>
  </div>
</div>
