/* You can add global styles to this file, and also import other style files */

// import('./')

@use "./queries.scss";

:root {
  --Neutral-900: hsl(243, 96%, 9%);
  --Neutral-800: hsl(243, 27%, 20%);
  --Neutral-700: hsl(243, 23%, 24%);
  --Neutral-600: hsl(243, 23%, 30%);
  --Neutral-300: hsl(240, 6%, 70%);
  --Neutral-200: hsl(250, 6%, 84%);
  --Neutral-0: hsl(0, 0%, 100%);

  --Blue-500: hsl(233, 67%, 56%);
  --Blue-700: hsl(248, 70%, 36%);
  --Orange-500: hsl(28, 100%, 52%);
}

:focus-visible {
  outline: 2px solid var(--blue-500);
  outline-offset: 3px;
}

/* 
- **Neutral 900**: hsl(243, 96%, 9%)
- **Neutral 800**: hsl(243, 27%, 20%)
- **Neutral 700**: hsl(243, 23%, 24%)
- **Neutral 600**: hsl(243, 23%, 30%)
- **Neutral 300**: hsl(240, 6%, 70%)
- **Neutral 200**: hsl(250, 6%, 84%)
- **Neutral 0**: hsl(0, 0%, 100%)

### Orange

- **Orange 500**: hsl(28, 100%, 52%)

### Blue

- **Blue 500**: hsl(233, 67%, 56%)
- **Blue 700**: hsl(248, 70%, 36%)

## Typography

### Body Copy

- Font size: 18px

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // 10px / 16px = 0.625
  font-size: 62.6%;
}

body {
  font-family: "Bricolage Grotesque", "DM Sans", sans-serif;
  background-color: var(--Neutral-900);
}

.container {
  padding: 4.8rem 6.4rem;
  margin-bottom: 4.8rem;
}

.mb-lg {
  margin-bottom: 4.8rem;
}

.mb-md {
  margin-bottom: 3.2rem;
}

.mb-sm {
  margin-bottom: 1.6rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

@media (min-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2.4rem;
}

.hero-title {
  font-size: clamp(2.8rem, 5vw, 5.2rem);
  color: var(--Neutral-0);
}

.input:focus,
select:focus {
  background-color: var(--neutral-600);
}

.select-control {
  background-color: #25253f;
  border: none;
  color: #fff;
  padding: 0.5rem 1.2rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
}

.visually-hidden {
  display: none;
}

.search-icon {
  margin-right: 1.2rem;
}

.search-container {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.search-box {
  background-color: #25253f;
  border-radius: 0.6rem;
  display: flex;
  padding: 0.3rem 0 0.3rem 1.2rem;
}

.input {
  color: var(--Neutral-0);
  border: none;
  background-color: var(--Neutral-800);
  font-size: 1.8rem;
  padding: 0.6rem 0.2rem;
  border-radius: 0.6rem;
  font-family: inherit;
}

.input:focus,
.input:active {
  border: none;
}

.input::placeholder {
  color: var(--Neutral-300);
}

.btn {
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem 2.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: inherit;
}

.btn-primary {
  color: var(--Neutral-0);
  background-color: var(--Blue-500);
  transition: all 0.15s ease;
}

.btn-primary:hover {
  background-color: var(--Blue-700);
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
}

@media (min-width: 900px) {
  .main-content {
    grid-template-columns: 2fr 1fr;
    gap: 4.8rem;
  }
}

.forecast {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.current-forecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  gap: 3.2rem;
  color: #fff;
}

.current-temperature {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/-1;
  background: url("./assets/images/bg-today-large.svg");
  background-size: cover;
  padding: 3.2rem;
  height: 250px;
  border-radius: 1.9rem;
}

.place-name {
  font-size: 3.2rem;
}

.place-date {
  color: #b7bcff;
  font-size: 2rem;
}

.temp-icon {
  height: 4rem;
}

.temperature {
  display: flex;
  align-items: center;
}

.temperature-value {
  font-size: 9.6rem;
}

.temperature-unit {
  font-size: 3.2rem;
  margin-left: 0.4rem;
  color: var(--neutral-200);
}

.card {
  background-color: #25253f;
  color: #fff;
  padding: 1.5rem;
  border-radius: 0.9rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.card:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}

.temp-misc {
  height: 10rem;
  // width: 8rem;
  // font-size: 1.8rem;
  display: flex;
  flex-direction: column;
}

.temp-label {
  font-size: 1.4rem;
  color: #b7bcff;
}

.temp-value {
  margin-top: auto;
  font-size: 2.4rem;
}

// Daily Forecast

.daily-forecast {
}

.daily-forecast-title {
  color: white;
  font-size: 1.8rem;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  gap: 1.6rem;
}

.week-day {
  text-align: center;
  font-size: 1.8rem;
}

.week-day-weather {
  padding: 1rem;
}

.week-day-img {
  height: 5rem;
}

.week-day-forecast {
  display: flex;
  justify-content: space-between;
}

// Hourly forecast

.hourly-forecast {
  border-radius: 0.9rem;
  background-color: #25253f;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.5rem;
}

.hourly-forecast-content {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

.hourly-control {
  background-color: #3d3c5e;
}

.hourly-forecast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hourly-forecast-title {
  color: #ffffff;
  font-size: 1.8rem;
}

.hour {
  background-color: #2f2f49;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.6rem;
}

@media (min-width: 900px) {
  .hour {
    font-size: 1.8rem;
  }
}

.forecast-time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hourly-forecast-time-icon {
  height: 3rem;
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: var(--Neutral-0);
  background-color: var(--Neutral-700);
  padding: 2.4rem;
}

.attribution a {
  color: var(--Blue-500);
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 50%;
  }

  .temp-value {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  html {
    // font-size: 43.75%;
  }

  .container {
    padding: 3.2rem 4.8rem;
  }

  .place-name {
    font-size: 2.4rem;
  }

  .place-date {
    font-size: 1rem;
  }

  .current-temperature {
    height: 150px;
  }

  .current-forecast {
    grid-template-columns: repeat(2, 1fr);
  }

  .temperature-value {
    font-size: 4.8rem;
  }

  .search-container {
    flex-direction: column;
  }
}
